/* .about {
    padding: 2rem 20rem;
} */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* padding: 4rem 6rem; */
    padding: 2rem 20rem;
    background-color: #fff;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    max-width: 600px;
}

.about-text h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
}
  
.about-text h2 {
    font-size: 2rem;
    color: #444;
    font-weight: 600;
    margin-bottom: 1rem;
}
  
.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
}

.about-imgs {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.about-imgs img {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    margin-left: 8rem;
    margin-top: 5rem;
}

.about-imgs .front {
    z-index: 2;
    /* width: 300px; */
    border-radius: 1rem;
}

.about-imgs .back {
    position: absolute;
    left: -40px;
    bottom: -40px;
    z-index: 1;
    /* width: 250px; */
    opacity: 0.9;
}

@media (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        max-width: 80vw;
        margin: auto;
    }

    .about-text {
        flex: 1;
        /* max-width: 70vw; */
    }
    
    .about-text h1 {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 0.2rem;
    }
      
    .about-text h2 {
        font-size: 2rem;
        color: #444;
        font-weight: 600;
        margin-bottom: 1rem;
    }
      
    .about-text p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #333;
    }

    /* .about img {
        display: none;
    } */

    .about-imgs {
        margin-top: -5rem;
        right: 4rem;
    }

    .about-imgs img {
        width: 50vw !important;
    }

    /* .front {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        padding-right: 5rem;
    } */

    .back {
        display: none;
    }
}  