.hero {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    background-color: #495E57;
    padding: 2.5rem;
    /* padding-right: 12rem;
    padding-left: 12rem; */
    gap: 1rem;
}

.text {
    /* margin: auto 0; */
    max-width: 40%;
}

.hero h1 {
    color: #f4ce14;
    font-size: 3.5rem;
    line-height: 0.5rem;
}

.hero h2 {
    color: #fff;
    font-size: 2rem;
}

.hero p {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6;
}

.hero button {
    background-color: #f4ce14;
    color: #495E57;
    font-size: 1rem;
    border: none;   
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;
}

.hero img {
    max-width: 30vw;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-evenly; */
        justify-content: center;
        background-color: #495E57;
        padding: 2.5rem;
        gap: 1rem;
    }

    .hero h1 {
        color: #f4ce14;  
        font-size: 2rem;
    }

    .hero h2 {
        color: #fff;
        font-size: 1.5rem;
    }
    
    .hero p {
        color: #fff;
        font-size: 1rem;
        line-height: 1.6;
    }

    .text {
        /* margin: auto 0; */
        max-width: 100%;
    }

    .hero img {
        max-width: 80vw;
        border-radius: 10px;
    }
}