.nav {
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: #000;
    text-decoration: none;
    margin-left: 1rem;
}

.menu {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Dropdown menu */
.nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* Full width */
  background-color: white;
  /* padding: 10px 0; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.nav-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.nav-dropdown li {
  padding: 10px 20px;
}

.nav-dropdown a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }

  .nav-dropdown-hide {
    display: none;
  }

  .nav-dropdown {
    text-align: left;
  }
}
